.AddNewTodo .btn{
    background-color: #0077b6;
    color: #fff;
    font-size: .4rem;
    width: 100%;
    border: 1px solid #0077b6;
    font-weight: 700;
    cursor: pointer;
    padding: .8rem 5rem;
    border-radius: 3px;
    margin: .9rem 0;
}

.AddNewTodo .btn:hover{
    background-color: #00b4d8;
    border-color: #00b4d8;
}

.AddNewTodo .btn:active{
    transform: scale(0.98);
}

form{
    padding: .5rem;
}

form input{
    width: 100%;
    box-sizing: border-box;
    height: 1.5rem;
    border: 0;
    border-bottom: 1px solid #0077b6;
    margin-bottom: .5rem;
    font-size: 1rem;
}

form input:focus{
    outline: 0;
}