.App {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: space-between;
  height: 100vh;
}

.App::before{
  content: '';
  background: url(./assets/images/forest.jpg);
  width: 100%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -3;

}